{{!< default}}
{{! This goes into the body handlebar in default.hbs}}

<div class="mainWrap">
    <div class="headWrap">
        {{>drakoHead}}
    </div>
        <div class="sidebarWrap">
            {{>drakoSide}}
        </div>
        <div class="postWrap">
            {{>drakoPosts}}
        </div>
    <div class="paginationWrap">
    
    </div>
    <div class="footerWrap">
    
    </div>
</div>